/*	lightgrey
	midnightblue
	goldenrod
*/



h1	{
	background-position: 2239px 1650px;
	color: goldenrod;
	line-height: 200px;
	font-size: 5em;
	border-radius: 10px;
}
	
	

h2	{
	color: midnightblue;
	background: goldenrod;
	border-radius: 10px;
}

body {
	color: midnightblue;
	background: lightgrey;
}

li {
	color: white;
	display: inline-block;
	list-style: none;
}

a {
	display: inline-block;
	line-height: 2em;
	padding: 1em;
	text-decoration: none;
	text-transform: uppercase;
	width: 10em;
}

a {
	color: midnightblue;
}



a[href^="index"]::before {
	content: "◎";
	letter-spacing: 4px;
	font-size: 2em;
}

a[href^="index"]:hover::before {
	background: goldenrod;
	border-radius: 10px;
	content: "◉";
	letter-spacing: 4px;
	font-size: 2em;
	padding: 3px;
}

a[href^="portfolio"]::before {
	content: "◎";
	letter-spacing: 4px;
	font-size: 2em;
}

a[href^="portfolio"]:hover::before {
	background: goldenrod;
	border-radius: 10px;
	content: "◉";
	letter-spacing: 4px;
	font-size: 2em;
	padding: 3px;
}

a[href^="resume"]::before {
	content: "◎";
	letter-spacing: 4px;
	font-size: 2em;
}

a[href^="resume"]:hover::before {
	background: goldenrod;
	border-radius: 10px;
	content: "◉";
	letter-spacing: 4px;
	font-size: 2em;
	padding: 3px;
}

a[href^="collage"]::before {
	content: "◎";
	letter-spacing: 4px;
	font-size: 2em;
}

a[href^="collage"]:hover::before {
	background: goldenrod;
	border-radius: 10px;
	content: "◉";
	letter-spacing: 4px;
	font-size: 2em;
	padding: 3px;
}

.current {
	background: floralwhite;
	border-radius: 10px;
	content: "◉";
	
}

img
{
	height: 800px;
	margin-left: 40px;
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}


img:hover
{
    filter: none;
    -webkit-filter: none;
}

