

h1	{
	color: teal;
	background: orange;
	line-height: 200px;
	font-size: 5em;
	border-radius: 10px;
}

h2	{
	color: purple;
	background: yellow;
	border-radius: 10px;
}

body {
	color: green;
	background: red;
}


img
{
	height: 800px;
	margin-left: 40px;
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}
img:hover
{
    filter: none;
    -webkit-filter: none;
}

/* Image URL: https://s3-us-west-2.amazonaws.com/s.cdpn.io/16425/spritemap.png */

li {
  list-style: none;
  display: inline-block;
}

a {
  background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/16425/spritemap.png) no-repeat;
  color: #fff;
  height: 32px;
  padding-left: 45px;
  line-height: 32px;
  
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase; 
  transition: background-position .25s;
}


/* First Link OFF */
li:nth-child(1) a {
  background-position: 0 0;
}

/* First Link ON */
li:nth-child(1) a:hover {
  background-position: 0 -32px;
}

/* Second Link OFF */
li:nth-child(2) a {
  background-position: 0 -64px;
}

/* Second Link ON */
li:nth-child(2) a:hover {
  background-position: 0 -96px;
}

/* Third Link OFF */
li:nth-child(3) a {
  background-position: 0 -128px;
}

/* Third Link ON */
li:nth-child(3) a:hover {
  background-position: 0 -160px;
}